<script type="text/javascript">$(function () {
  $('[data-toggle="popover"]').popover()
})
</script>

<div class="container">
    <a class="navbar-brand" href="#">
    <img src="assets/images/brand/logo2.png" height="30" class="d-inline-block align-top" alt="">
    
  </a>
    <ul class="nav navbar-nav mr-auto">
    </ul>
    <ul class="nav navbar-nav" style="float: right;">
    <div class="row">
        <li class="nav-item" style="padding-right: 20px;">
          <a href="#" class="btn btn-secondary" style="background-color: transparent;">Interviews</a>
        </li>
        <li class="nav-item">
           <a tabindex="0" class="btn btn-primary" data-html="true" data-container="body" data-toggle="popover" data-trigger="focus" data-placement="bottom" data-content='<form class="form-inline justify-content-md-center" action="https://formspree.io/chris@officeunbound.com" method="POST">
            <label class="sr-only" for="inlineFormInput">Email</label>
            <p>Get updates when new interviews are published.</p>
            <input type="email" name="_replyto" class="form-control col col-6" id="inlineFormInput" placeholder="onabeach@bali.vacation">

            <button type="submit" value="Subscribe" class="btn btn-primary col col-6" style="margin-top:9px;">Submit</button>
          </form>'>
             Subscribe
            </a>
        </li>
        </div>
    </ul>
   
</div>




